* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    line-height: 1.6;
    background: #f4f6f8;
}

/* NAVBAR */
header {
    position: fixed;
    width: 100%;
    background: #0b132b;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(to right, #1c2541, #3a506b);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 3rem;
}

.btn {
    margin-top: 20px;
    padding: 12px 25px;
    background: #5bc0be;
    color: black;
    text-decoration: none;
    border-radius: 25px;
}

/* SECTIONS */
.section {
    padding: 80px 40px;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
}

.dark {
    background: #eaeaea;
}

/* CARDS */
.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 25px;
    width: 280px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #1c2541;
    font-weight: bold;
}

footer {
    background: #0b132b;
    color: white;
    text-align: center;
    padding: 20px;
}
